# Vercel Blob Storage Token
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_..."

# Vercel KV / Redis Configuration
KV_REST_API_URL="https://...upstash.io"
KV_REST_API_TOKEN="AXXX..."

# Cron Execution Secret Header
CRON_SECRET="your-32-char-random-cron-secret"
